<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body>
<form action="/updatedisease1" method="post" enctype="multipart/form-data" name="from" id="form"><table width="200" border="1">
  <table width="300" border="0">
  <tr>
    <td>Disease</td>
    <td><input type="text" name="textfield2" value="{{val[1]}}" required /></td>
  </tr>
  <tr>
    <td>Treatment</td>
    <td><input type="text" name="textfield3" value="{{val[2]}}" required /></td>
  </tr>
  <tr>
    <td>Preventive Measures </td>
    <td><input type="text" name="textfield"value="{{val[3]}}" required /></td>
  </tr>

  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="Submit" value="Submit"  />
    </div></td>
    </tr>
  </table>
</form>
</body>
</html>
