{% extends 'indexadmin.html' %}
{% block body %}
<body>
<form action="" method="post">
<table width="200" border="1">
  <tr>
    <td><div align="center"><a href="/disease">Disease</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/HomeRemedies">Home Remedies</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/Symptom">Symptom</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/Vaccine">Vaccine</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/Councilque">council questions</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/Councilres">council result</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/Diet">Diet</a></div></td>
  </tr>
   <tr>
    <td><div align="center"><a href="/logout">Logout</a></div></td>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}
